a:link {
    color: blue; /* Default link color */
}
a:visited {
    color: purple; /* Visited link color */
}
a:hover {
    color: red; /* Hover link color */
}
a:active {
    color: green; /* Active link color */
}
.main{
    width: 100%;
    height: 500px;
    border: 10px solid black;
    padding: 20px 35px;
}