*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(16, 180, 16);
    padding: 10px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}
.block-logos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    list-style: none;
   
}
.nav li{
    font-size: 14px;
   padding: 5px 0;
   width: 100%;
   text-align: center;
   border-bottom: 1px solid rgb(240, 248, 255, 0.3);
   cursor: pointer;
}
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(124, 124, 196);

}
.articles{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.articles img{
    width: 80%;
    max-width: 100px;
    margin: 5px auto;
    padding: 5px 0;
    height: auto;
}
.descripcion{
    padding: 10px;
    font-size: 14px;
    color: aliceblue;
    margin: 20px 0;
    width: 100%;
}
.footer{
    padding: 15px 5px;
    background-color: rgb(12, 53, 53);
    color: aliceblue;
}
.footer p{
    text-align: center;
    margin-bottom: 15px;
}
.footer_logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer img{
    padding: 5px;
    max-height: 25px;
}
@media screen and (min-width: 481px) {
    .nav{
        flex-direction: row;
        justify-content: center;
        padding: 0 15px;
    }
    .nav li{
        font-size: 16px;
        padding: 0 15px;
        width: auto;
        border: none;
    }
    .articles{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .articles img{
        width: 16px;
        max-width: 120px;
    }
    .descripcion{
        font-size: 16px;
        padding: 15px;
    }
    .footer img{
        max-height: 30px;
        padding: 0 5px;
    }
    .footer_logos{
        flex-wrap: nowrap;
    }
}
@media screen and (min-width: 769px) {
    header{
        flex-direction: row;
        padding: 15px;
        justify-content: space-around;
        align-items: center;
    }
    .block-logos{
        justify-content: flex-start;
        margin-bottom: 0;
    }
    .nav{
        justify-content: flex-end;
    }
    .nav li{
        font-size: 20px;
        margin: 10px 0;
        padding: 0 20px;
    }
    .main{
        flex-direction: row;
    }
    .articles{
        width: 20vw;
        flex-direction: column;
        align-items: center;

    }
    .articles img{
        width: 100%;
        max-width: 150px;
    }
    .descripcion{
        width: 60vw;
    }
    .footer{
        padding: 20px 10px;
    }
    .footer img{
        max-height: 40px;
    }
}