body{
  background-color: lightblue;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}
h1{
    color: darkblue;
}
@media(min-width: 600){
    body{
        background-color: lightgreen;
    }
    h1{
        color: darkgreen
        ;
    }
}

@media (min-width: 900px) {
    body{
        
    }
}